# Run `make .clangd` to update
CompileFlags:
  Add:
    - -xc
    - -std=c99
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wno-char-subscripts
    - -Wno-parentheses
    - -Wimplicit-fallthrough
    - -Werror=incompatible-pointer-types
    - -Werror=enum-conversion
    - -DHAMMER_DEBUG
    - -D_CRT_SECURE_NO_WARNINGS
