# NOTE: Keep in sync with Makefile
CompileFlags:
  Add:
    - -xc # only required for the language server
    - -std=c99
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wno-char-subscripts
    - -Wno-parentheses
    - -Wimplicit-fallthrough
    - -Werror=incompatible-pointer-types
    - -DHAMMER_DEBUG
